<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="keywords" content="云测练，在线练习，家校互动平台，yunzuoye" />
		<meta name="description" content="云测练是面向老师、学生和家长的智能在线练习平台，云测练拥有一千万的优质练习资源，与各大教辅运营商合作，覆盖小初高全部学科。家长一键关注云测练微信，同步了解学生学习进展" />

		<title>学能评测</title>
		<link rel="stylesheet" href="css/web/evaluate.css" />
	</head>

	<body ng-controller="TeacherController">
		<div class="header">
			<div class="w980">
				<a href="http://www.zuoyezhushou.com/" title="云测练">
					<span class="logo"></span>
				</a>

				<!--
				ul>(a[href="javascript:void(0);"]>li.nav{老师备课})*8
			-->
				<ul>
					<a href="javascript:void(0);">
						<li class="nav">首页</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">老师备课</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav ">在线练习</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">套卷测试</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">消息通知</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">班级</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">学生报告</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav selected">入学测评</li>
					</a>
				</ul>

				<!--
			div.account-box>(span.icon.icon-account+span{杨晓歪老师}+a.logout{退出})
			-->
				<div class="account-box">
					<span class="icon icon-account"></span>
					<a href="/account/center" ng-bind="teacherName">未登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
					<a href="/account/logout" class="logout">退出</a>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="w980 eval">
				
				<div class="eval-left">
					<ul>
						<li class="selected">学能测评</li>
						<li>知识测评</li>
						<li>测评报告</li>
					</ul>
				</div>
				
				<div class="eval-right">
					<div class="eval-desc eval-form">
						<div class="eval-form-title">
							测试已经全部结束，请填写个人信息，获取测评报告！
						</div>
						<div class="eval-form-content">
							<div class="eval-form-row">
								<span class="eval-form-label">姓名:</span>
								<span><input type="text" class="eval-input" /></span>
							</div>
							<div class="eval-form-row">
								<span class="eval-form-label">年龄:</span>
								<span><input type="text" class="eval-input" /></span>
							</div>
							<div class="eval-form-row">
								<span class="eval-form-label">性别:</span>
								<span>
									
 									<span class='radio-sex radio-sex-male'>
                                    	<input type="radio" name="sex" id="info-male" value="男" checked="checked"/>
                                    	<label for="info-male">
                                        	<span class='icon icon-sex'></span>
                                        	<span class='sex-text'>男</span>
                                    	</label>
                                	</span>
                                
                                	<span class='radio-sex radio-sex-female'>
                                    	<input type="radio" name="sex" id="info-female" value="女" />
                                    	<label for="info-female">
                                        	<span class='icon icon-sex'></span>
                                        	<span class='sex-text'>女</span>
                                    	</label>
                                	</span>


								</span>
							</div>
							<div class="eval-form-row">
								<span class="eval-form-label">家长手机:</span>
								<span><input type="text" class="eval-input" /></span>
							</div>
							<div class="eval-form-row">
								<span class="eval-form-label">学校:</span>
								<span><input type="text" class="eval-input" /></span>
							</div>
							<div class="eval-form-row">
								<span class="eval-form-label">年级:</span>
								<span>
									<select class="eval-input" style="background:none;outline:none;-webkit-appearance:none;">
										<option>一年级</option>
										<option>一年级</option>
										<option>一年级</option>
										<option>一年级</option>
										<option>一年级</option>
									</select>
								</span>
							</div>
							
						</div>


						<div class="eval-form-toolbar">
							<span class="btn-start-evalute">查看报告</span>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</body>

</html>