<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="keywords" content="云测练，在线练习，家校互动平台，yunzuoye" />
		<meta name="description" content="云测练是面向老师、学生和家长的智能在线练习平台，云测练拥有一千万的优质练习资源，与各大教辅运营商合作，覆盖小初高全部学科。家长一键关注云测练微信，同步了解学生学习进展" />

		<title>学能评测</title>
		<link rel="stylesheet" href="css/web/evaluate.css" />
	</head>

	<body ng-controller="TeacherController">
		<div class="header">
			<div class="w980">
				<a href="http://www.zuoyezhushou.com/" title="云测练">
					<span class="logo"></span>
				</a>

				<!--
				ul>(a[href="javascript:void(0);"]>li.nav{老师备课})*8
			-->
				<ul>
					<a href="javascript:void(0);">
						<li class="nav">首页</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">老师备课</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav ">在线练习</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">套卷测试</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">消息通知</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">班级</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav">学生报告</li>
					</a>
					<a href="javascript:void(0);">
						<li class="nav selected">入学测评</li>
					</a>
				</ul>

				<!--
			div.account-box>(span.icon.icon-account+span{杨晓歪老师}+a.logout{退出})
			-->
				<div class="account-box">
					<span class="icon icon-account"></span>
					<a href="/account/center" ng-bind="teacherName">未登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
					<a href="/account/logout" class="logout">退出</a>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="w980 eval">
				
				<div class="eval-left">
					<ul>
						<li >学能测评</li>
						<li class="selected">知识测评</li>
						<li>测评报告</li>
					</ul>
				</div>
				
				<div class="eval-right">
					<div class="eval-desc">
						
						<div class="eval-filter-cate">年级</div>

						 <div class="grade-radio">
                            <div class="grade">
                                <span class="radio-class">
                                    <input type="radio" name="classId1" id="filter-class-id-0" checked="checked">
                                    <label for="filter-class-id-0">1年级</label>
                                </span>
                                <span class="radio-class radio-middle">
                                    <input type="radio" name="classId1" id="filter-class-id-1">
                                    <label for="filter-class-id-1">2年级</label>
                                </span>
                                <span class="radio-class">
                                    <input type="radio" name="classId1" id="filter-class-id-2">
                                    <label for="filter-class-id-2">3年级</label>
                                </span>
                                <span class="radio-class">
                                    <input type="radio" name="classId1" id="filter-class-id-3">
                                    <label for="filter-class-id-3">4年级</label>
                                </span>
                                <span class="radio-class radio-middle">
                                    <input type="radio" name="classId1" id="filter-class-id-4">
                                    <label for="filter-class-id-4">5年级</label>
                                </span>
                                <span class="radio-class">
                                    <input type="radio" name="classId1" id="filter-class-id-5">
                                    <label for="filter-class-id-5">6年级</label>
                                </span>


                                <span class="radio-class">
                                    <input type="radio" name="classId1" id="filter-class-id-6">
                                    <label for="filter-class-id-6">初一</label>
                                </span>
                                <span class="radio-class radio-middle">
                                    <input type="radio" name="classId1" id="filter-class-id-7">
                                    <label for="filter-class-id-7">初二</label>
                                </span>
                                <span class="radio-class">
                                    <input type="radio" name="classId1" id="filter-class-id-8">
                                    <label for="filter-class-id-8">初三</label>
                                </span>
                                <span class="radio-class">
                                    <input type="radio" name="classId1" id="filter-class-id-9">
                                    <label for="filter-class-id-9">高一</label>
                                </span>
                                <span class="radio-class radio-middle">
                                    <input type="radio" name="classId1" id="filter-class-id-10">
                                    <label for="filter-class-id-10">高二</label>
                                </span>
                                <span class="radio-class">
                                    <input type="radio" name="classId1" id="filter-class-id-11">
                                    <label for="filter-class-id-11">高三</label>
                                </span>

                            </div>
						</div>
						<div class="eval-filter-cate cate-subject">学科</div>
						<div class="grade-radio">
                            <div class="grade">
                                <span class="radio-class">
                                    <input type="radio" name="subject" id="filter-subject-id-0" checked="checked">
                                    <label for="filter-subject-id-0">数学</label>
                                </span>
                                <span class="radio-class radio-middle">
                                    <input type="radio" name="subject" id="filter-subject-id-1">
                                    <label for="filter-subject-id-1">语文</label>
                                </span>
                                <span class="radio-class">
                                    <input type="radio" name="subject" id="filter-subject-id-2">
                                    <label for="filter-subject-id-2">英语</label>
                                </span>
                            </div>
                        </div>
                        <div class="eval-filter-result">
                        	<span class="eval-filter-item">初一</span>
                        	<span class="eval-filter-item">英语</span>
                        </div>
						<div class="eval-toolbar eval-filter-toolbar">
							<span class="btn-start-evalute">确认</span>
						</div>
						

					</div>
					
				</div>

			</div>
		</div>
	</body>

</html>