<div class="school-create">
             <div class="school pri-school" ng-click="choseStage(1)">
                            <div class="icon icon-pri">
                                <a href="javascript:void(0);"></a>
                            </div>
                            <p>小学</p>
                        </div>
                        <div class="school jun-school"  ng-click="choseStage(2)">
                            <div class="icon icon-jun">
                                <a href="javascript:void(0);"></a>
                            </div>
                            <p>初中</p>
                        </div>
                        <div class="school sen-school"  ng-click="choseStage(3)">
                            <div class="icon icon-sen">
                                <a href="javascript:void(0);"></a>
                            </div>
                            <p>高中</p>
                        </div>
</div>